@import 'variables';

#order {
    position: relative;
    margin-top: 100px;
}
#order h3 {
    color: $main-color;
    font-size: 15px;
}
#info {
    padding: 10px;
}
#info input {
    width: 100%;
    height: 40px;
    margin-top: 4%;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: gray solid 1px;
    font-size: 15px;
}
#info #address-input {
    width: 100%;
}
#info #address-input input {
    width: 100%;
}
#info #address-input select {
    width: 49%;
    height: 40px;
    outline: none;
    border: none;
    border-bottom: lightgreen solid 2px;
    font-size: 15px;
    margin-top: 4%;
}
#info input[type="radio"] {
    width: 15px;
}
#info label[for="method"], #pay-method span {
    display: inline-block;
    line-height: 40px;
    height: 40px;
    color: black;
    font-size: 15px;
    margin-right: 7px;
}
#info #pay-method {
    border-bottom: gray solid 1px;
    margin-left: 1px;
    padding: 0 10px;
}
#info #message {
    margin-top: 30px;
}
#pay {
    padding: 10px;
}
#pay input {
    width: 100%;
    height: 40px;
    margin-top: 4%;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: gray solid 1px;
    font-size: 15px;
}
#pay #month, #year, #ccv {
    width: 32% !important;
}
label {
    font-size: 12px;
    color: $main-color;
}
label {
    display: block;
    height: 16px;
}
label[for="month"], label[for="year"], label[for="ccv"] {
    display: inline-block;
    width: 32%;
}
#submit {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%);
    width: 50%;
    height: 30px;
    background-color: $main-color;
    color: white;
    font-weight: bold;
    border: none;
}
.bad {
    border-bottom: $main-color solid 2px !important;
}
.good {
    border-bottom: lightgreen solid 2px !important;
}

#cart-table {
    margin: 20px 0 100px 0;
    width: 100%;
    font-size: 12px;
}
table, thead, tbody, tr, td {
    border: none;
    border-collapse: collapse;
    padding-left: 5px;
}
#cart-table thead {
    background-color: $main-color;
    height: 40px;
    font-weight: bold;
}
#cart-table thead td:first-child {
    width: 10%;
}
#cart-table thead td:nth-child(2) {
    width: 35%;
}
#cart-table thead td {
    width: 15%;
}
#cart-table tbody tr {
    height: 40px;
    background-color: ghostwhite;
}
#cart-table tbody tr:nth-child(even) {
    background-color: #F2F2F2;
}
#cart-table tfoot td {
    font-weight: bold;
    line-height: 40px;
    padding-right: 50px;
    background-color: $main-color;
    text-align: right;
}

#success {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
}
#success-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 50vh;
    background-color: white;
    color: $main-color;
    box-shadow: 0px 0px 10px darkgray;

}
#success-box svg {
    margin-left: 50%;
    margin-top: 25%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
}
#success-box p {
    font-size: 25px;
    text-align: center;
}
#success-box button {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 30px;
    margin-top: 15px;
    border: $main-color solid 2px;
    background-color: white;
    color: $main-color;
}


// For small tablet & large phone
@media screen and (min-width: 600px) {
    #order {
        margin-top: 150px;
    }
    #cart-table {
        margin: 50px 0 150px 0;
    }
    #cart-table {
        font-size: 14px;
    }
    #cart-table thead td:first-child {
        width: 5%;
    }
    #cart-table thead td:nth-child(2) {
        width: 30%;
    }
    #cart-table thead td {
        width: 10%;
    }
}


// For Tablet
@media screen and (min-width: 768px) {
    #order h3 {
        color: $main-color;
        font-size: 25px;
    }
    #info {
        padding: 0;
        width: 47%;
        float: left;
    }
    #info #address-input input {
        width: 47%;
    }
    #info #address-input select {
        width: 24%;
    }
    #info #message {
        margin-top: 40px;
    }
    #pay {
        width: 47%;
        float: right;
    }
    #submit {
        width: 25%;
        height: 40px;
    }
    #cart-table thead td {
        width: 20%;
    }
}


// For PC
@media screen and (min-width: 992px) {

}
