@import 'variables';

section {
    margin: 100px 150px;
}
#super-wallpaper {
    top: 80px;
    margin: 0;
}
#storage-list h2 {
    margin-top: 80px;
}
#storage-list > p {
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 50%;
    margin: 50px auto;
}
#storage-list #storage-prev, #storage-next {
    text-decoration: underline;
    cursor: pointer;
    color: $main-color;
}
#storage-list #storage-prev {
    float: left;
}
#storage-list #storage-next {
    float: right;
}
#storage-list #storage-page {
    display: inline-block;
    width: 80px;
    line-height: 30px;
    background-color: $main-color;
    color: white;
}
#storage-list > div {
    margin: 10px 10px 30px 10px;
    box-shadow: 0px 0px 10px darkgray;
}
#storage-list #empty {
    line-height: 200px;
    text-align: center;
    font-size: 20px;
    color: gray;
}
#storage-list h3 {
    color: $main-color;
    text-transform: uppercase;
}
#storage-list .user-info {
    width: 40%;
    height: 450px;
    padding: 20px 40px;
    float: left;
}
#storage-list .user-info p {
    padding: 10px;
    border-bottom: lightgray solid 1px;
}
#storage-list .user-info span {
    background-color: $main-color;
    color: white;
    padding: 5px;
    float: right;
    border-radius: 5px;
    cursor: pointer;
}
#storage-list .order-content {
    float: right;
    width: 60%;
    padding: 20px 40px;
    height: 500px;
}
table {
    margin: 30px 0;  
    width: 100%;
    font-size: 15px;
}
table, thead, tbody, tr, td {
    border: none;
    border-collapse: collapse;
    padding-left: 5px;
}
table thead {
    background-color: $main-color;
    height: 40px;
    font-weight: bold;
}
table thead td:first-child {
    width: 10%;
}
table thead td:nth-child(2) {
    width: 35%;
}
table thead td {
    width: 15%;
}
table tbody tr {
    height: 40px;
    background-color: ghostwhite;
}
table tbody tr:nth-child(even) {
    background-color: #F2F2F2;
}
table tfoot td {
    font-weight: bold;
    line-height: 40px;
    padding-right: 50px;
    background-color: $main-color;
    text-align: right;
}