#account {
  overflow: hidden; }

#account a {
  position: relative; }

#account input {
  position: absolute;
  transform: translate(0, -100%);
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer; }

#account a:hover {
  color: #D3232D; }

#add h2 {
  margin-top: 150px; }

#add form {
  position: relative;
  width: 50%;
  padding-bottom: 75px; }

#add input, select {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-bottom: gray solid 1px; }

#add input[type="submit"] {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 200px;
  height: 30px;
  border: none;
  background-color: #D3232D;
  color: white;
  margin-top: 20px; }

#list div {
  display: inline-block;
  width: 30%;
  margin: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px lightgray; }

#list div p {
  height: 40px;
  border-bottom: lightgray solid 1px; }
