<nav>
    {{!-- Logo --}}
    <div id="logo">
        <a><img src="/img/general/logo.png" alt="logo"></a>
    </div>

    {{!-- Super navigation --}}
    <div id="nav">
        <a href="/admin/" class="{{#if list}}active{{/if}}">CLERK</a>
        <a href="/admin/menu" class="{{#if storage}}active{{/if}}">MENU</a>
        <a href="/admin/news" class="{{#if storage}}active{{/if}}">NEWS</a>
        <a href="/admin/contact" class="{{#if search}}active{{/if}}">CONTACT</a>
    </div>

    {{!-- Account --}}
    <div id="account">
        <a>ONE SALTY TUNA</a>
    </div>

</nav>