<nav>
    {{!-- Logo --}}
    <div id="logo">
        <a><img src="/img/general/logo.png" alt="logo"></a>
    </div>

    {{!-- Super navigation --}}
    <div id="nav">
        <a href="/admin/" class="{{#if clerk}}active{{/if}}">CLERK</a>
        <a href="/admin/menu" class="{{#if amenu}}active{{/if}}">MENU</a>
        <a href="/admin/news" class="{{#if anews}}active{{/if}}">NEWS</a>
        <a href="/admin/contact" class="{{#if acontact}}active{{/if}}">CONTACT</a>
    </div>

    {{!-- Account --}}
    <div id="account">
        <a>LOG OUT<form id="logout" action="/auth/logout" method="POST"><input type="submit" value="LOG OUT"></form></a>
    </div>

</nav>