<nav>
    {{!-- Logo --}}
    <div id="logo">
        <a href="\ "><img src="/img/general/logo.png" alt="logo"></a>
    </div>

    {{!-- Site navigation --}}
    <div id="nav">
        <a href="\ " class="{{#if home}}active{{/if}}">HOME</a>
        <a href="about" class="{{#if about}}active{{/if}}">ABOUT</a>
        <a href="menu" class="{{#if order}}active{{/if}}">MENU</a>
        <a href="contact" class="{{#if contact}}active{{/if}}">CONTACT</a>
    </div>

    {{!-- Account --}}
    <div id="account">
        {{#unless login}}
            <a id="signupNav" href="user/signup" class="{{#if signup}}active{{/if}}">SIGN UP</a>
            <a id="loginNav" href="login" class="{{#if login}}active{{/if}}">LOG IN</a>
        {{/unless}}
        {{#if login}}
            <a id="cartNav" href="cart">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                </svg>
                <span>CART</span>
            </a>
            <a id="userNav" href="user/{{username}}">HI, {{username}}</a>
        {{/if}}
    </div>

</nav>