<section id="super-wallpaper">
    <img src="/img/general/wallpaper-2.jpg" alt="">
    <h1>CLERK MANAGE</h1>
</section>

<section class="indent" id="add">
    <h2 class="heading">ADD NEW CLERK</h2>
    <form action="/admin/addClerk" method="POST" onchange="addAuth()">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="phone" placeholder="Phone">
        <input type="text" name="supername" id="supername" readonly placeholder="Username (Auto fill)">
        <input type="text" name="password" placeholder="Password (Auto fill)" readonly>
        <input type="submit" value="ADD">
    </form>
</section>

<section class="indent">
    <h2 class="heading">CLERK LIST</h2>
    <div id="list">
    {{#each super}}
        <div>
            <p>{{this.name}}</p>
            <p>{{this.phone}}</p>
            <p>{{this.email}}</p>
        </div>
    {{/each}}
    </div>
</section>

<script src="/javascript/clerk.js"></script>