<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Salty Tuna</title>

    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/home.css">

    {{#if about}}<link rel="stylesheet" href="/css/about.css">{{/if}}
    {{#if menu}}<link rel="stylesheet" href="/css/menu.css">{{/if}}
    {{#if contact}}<link rel="stylesheet" href="/css/contact.css">{{/if}}

    {{#if order}}<link rel="stylesheet" href="/css/order.css">{{/if}}

    {{#if login}}<link rel="stylesheet" href="/css/login.css">{{/if}}
    {{#if signup}}<link rel="stylesheet" href="/css/signup.css">{{/if}}
    {{#if userSetting}}<link rel="stylesheet" href="/css/user.css">{{/if}}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/javascript/app.js"></script>
</head>

<body>
    
    <header>{{#unless noHeader}} {{> header}} {{/unless}}</header>

    {{{body}}}

    <footer>{{#unless noHeader}} {{> footer}} {{/unless}}</footer>

</body>
</html>