<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/general/logo.png">
    <title>One Salty Tuna</title>

    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/home.css">

    {{#if about}}<link rel="stylesheet" href="/css/about.css">{{/if}}
    {{#if menu}}<link rel="stylesheet" href="/css/menu.css">{{/if}}
    {{#if contact}}<link rel="stylesheet" href="/css/contact.css">{{/if}}
    {{#if order}}<link rel="stylesheet" href="/css/order.css">{{/if}}

    {{#if login}}<link rel="stylesheet" href="/css/login.css">{{/if}}
    {{#if signup}}<link rel="stylesheet" href="/css/signup.css">{{/if}}

    {{#if userSetting}}<link rel="stylesheet" href="/css/user.css">{{/if}}

    {{#if list}}<link rel="stylesheet" href="/css/list.css">{{/if}}
    {{#if storage}}<link rel="stylesheet" href="/css/storage.css">{{/if}}
    {{#if search}}<link rel="stylesheet" href="/css/search.css">{{/if}}

    {{#if clerk}}<link rel="stylesheet" href="/css/clerk.css">{{/if}}
    {{#if amenu}}<link rel="stylesheet" href="/css/amenu.css">{{/if}}
    {{#if anews}}<link rel="stylesheet" href="/css/anews.css">{{/if}}
    {{#if acontact}}<link rel="stylesheet" href="/css/acontact.css">{{/if}}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/javascript/app.js"></script>
</head>

<body>
    
    {{#if userSite}} <header> {{> header}} </header> {{/if}}
    {{#if superSite}} <header> {{> sheader}} </header> {{/if}}
    {{#if adminSite}} <header> {{> aheader}} </header> {{/if}}


    {{{body}}}

    {{#if userSite}} <footer> {{> footer}} </footer> {{/if}}

</body>
</html>
